*{
    margin: 0px;
    border:0px;
 box-sizing: border-box;
}

.n{
    background-color: rgb(151, 168, 204);
    background-size: 1540px;
    height:500px;
    
    
}
.nav{
   background-color:rgb(42, 46, 71);
   color: #fffdfd;
    
    width: 1536px;
    height:80px;
    top: 0px;
    z-index: 20;
   /* background-color: rgb(151, 168, 204);
    background-size: 1540px;
    height:600px;*/
    position:fixed;
opacity: 0.9;

}
.lk{
  color: #fbfbfb;
}

ul{
    overflow: auto;
    margin-left:200px;
    z-index: 10;
}

li{
    display:inline-flex;
    float:left;
    list-style: none;
    margin: 10px 10px;
    padding-left: 3px;
   color:white;
    font-family: 'Poppins', sans-serif;
    font-size:20px ;
    text-decoration-color: #fbfbfb;
}

.search{
    float: right;
    color:    rgb(248, 243, 243);
    padding: 0px  15px;
    margin-right: 8vh;
    margin-top: 0px;
}

#search{
    border:2px solid rgb(255, 253, 253); 
  border-radius: 10px;
    padding: 9px 9px; 
    margin-right: 20px;
    margin-top:  8px;
    width:160px;
    font-family: 'Poppins', sans-serif;
    background: none;
    font-size: 14px;
    text-decoration-color: black;
  }

  a{
    padding:3px 3px;
    text-decoration: none ;
    color: rgb(7, 5, 0);
 }

  .bg{
    
   background-color: rgb(42, 46, 71);
   width: 1620px;
   height:600px;
position:absolute;
z-index: 9;
   
}
  
  .head{
    font-size: 40px;
    font-family:'Poppins', sans-serif ;
    margin-top: 1vh;
    margin-left:70vh ;
    padding-top: 30vh;
    position: absolute;
    justify-content: center;
    color:rgb(206, 196, 243);
    font-weight: 600;
    position: absolute;
    z-index: 9;
  }

    .bx{
     margin-top: 85vh;
     position: absolute;
     /*background-color: rgb(151, 168, 204);
     background-size: 1540px;
     height:600px;*/
     height: 250vh;
   width:105vw;

    }
  
   .left{
  height:500px;
  display:flex;
  align-items: center; 
  justify-content:space-evenly ;
  max-width: 80%;
  margin: auto;
   }

   .right{
    height:500px;
    display:flex;
    align-items: center; 
    justify-content:space-evenly ;
    
    max-width: 80%;
    margin: auto;
  }

   .im{
    height: 300px;
    width: 500px;
   }

   .ig{
    height: 300px;
    width:500px;
    
   }
   .io{
    height: 300px;
    width:500px;
    
   }

  .frm{
    display:flex;
    position: absolute;
    margin-left: 60px;
    border:10px;
    height:500px;
    width:500px;
    color:rgb(7, 4, 53);
   justify-content: center;
   margin-left: 500px;

  }

  .lt{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-weight:80 ;
    font-family: 'Nunito', sans-serif;
  }
  #h{
    font-size: 35px;
    font-family: 'Rubik', sans-serif;
  }
  .lto{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-weight: 80;
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
  }
  .lti{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-weight: 80;
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
  }
  #H{
    font-size: 35px;
    font-family: 'Rubik', sans-serif;
  }

  #h1{
    font-size: 35px;
    font-family: 'Rubik', sans-serif;
  }
  #foot{
     position:absolute;
     font-size:13px;
     font-family: 'Poppins', sans-serif;
     background-color:rgb(42, 46, 71);  
     color:#fbfbfb;
     width: 1620px;
     height:130px;
     text-align: center;
     padding-top: 15px;
     
     margin-top:2650px;
}
.link{
  margin-left: 10px;
}

.hd{
  font-size: 40px;
  font-family: 'Rubik', sans-serif;
  margin-left: 500px;
}

.ee{
  font-size: 20px;
  color:rgb(15, 23, 138);
  margin-left: 400px;
}
.que{
 
  margin-bottom: 10px;
  font-family: 'Nunito', sans-serif;
}
.it{  
  
    border:2px solid black; 
  border-radius: 10px;
    padding: 9px 9px; 
    margin-right: 20px;
    margin-top:  8px;
    width:400px;
    font-family: 'Poppins', sans-serif;
    background: none;
    font-size: 14px;
    text-decoration-color: black;
}

.st{
  border:2px solid black; 
  border-radius: 10px;
    padding: 9px 9px; 
    margin-right: 20px;
    margin-top:  8px;
    width:150px;
    font-family: 'Poppins', sans-serif;
    background: none;
    font-size: 14px;
    text-decoration-color: black;
}


.paras{
margin-right: 20px;

}
.paras1{
margin-left: 20px;

}
.paras2{
margin-right: 20px;

}

@media only screen and (max-width:1522px){
  .bx{
    width:1446px;
    height: 250px;;
  }

  .bg{
    width:1683px;
  }
  .li{
    font-size:26px ;
  }
  .nav{
    width:1512px;
    height:100px;
  }
  #foot{
    width:1683px;
    height:200px;
    margin-top:2780px;
    font-size: 26px;
  }
  .paras{
    
    margin-right: 200px;
    font-size: 30px;
    margin-top: 15px;
  }
  .paras1{
    margin-left: 200px;
    font-size: 30px;
    margin-top: 15px;
  }
  .paras2{
    margin-right: 200px;
    font-size: 30px;
    margin-top: 15px;
  }
  .lt{
    font-size: 30px;
    margin-top: 15px;
    font-weight: 1000; 
  }
  .lto{
    font-size: 30px;
    margin-top: 15px;
    font-weight: 1000;
  }
  .lti{
    font-size: 30px;
    margin-top: 15px;
    font-weight: 1000;
  }
  #h{
    font-size: 40px;
  }
  #h1{
    font-size: 40px;;
  }
  #H{
    font-size: 40px;
  }
  .im{
    height: 418px;
    width: 600px;
   }

   .ig{
    height: 418px;
    width:600px;
    
   }
   .io{
    height: 418px;
    width:600px;
    
}
.hd{
  margin-top: 80px;
}
}

 
 